<link rel="stylesheet" href="/css/_footer.css">

<footer class="footer-48201">
  <div class="container">
    <div class="row">
      <div class="col-md-4 pr-md-5">
        <a href="#" class="footer-site-logo d-block mb-4">Compostify</a>
        <p>Compostify: Simplifying waste management, connecting users with nearby agencies & NGOs, fostering sustainability.</p>
      </div>
      <div class="col-md">
        <ul class="list-unstyled nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/about-us">About Us</a></li>
        </ul>
      </div>
      <div class="col-md text-md-center">
        <ul class="social list-unstyled">
          <li><a href="#"><span class="fab fa-instagram"></span></a></li>
          <li><a href="#"><span class="fab fa-twitter"></span></a></li>
          <li><a href="#"><span class="fab fa-facebook"></span></a></li>
          <li><a href="#"><span class="fab fa-pinterest"></span></a></li>
          <li><a href="#"><span class="fab fa-dribbble"></span></a></li>
        </ul>
        <p><a href="/contact" class="btn btn-tertiary">Contact Us</a></p>

      </div>
    </div> 

    <div class="row">
      <div class="col-12 text-center">
        <div class="copyright mt-5 pt-5">
          <p><small>&copy; 2024-2025 All Rights Reserved with Compostify.</small></p>
        </div>
      </div>
    </div> 
  </div>
</footer>

<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
