 

 <style>
    body {
        background: #F2E8CF;
        font-family: Arial, sans-serif;
    }

    h1 {
            text-align: center;
            margin-top: 20px; /* Added top margin */
        }


    table {
        background: #A7C957;
        border-collapse: separate;
        border-radius: 10px;
        overflow: hidden;
        width: 800px;
        margin: 30px auto;
    }

    th, td {
        padding: 10px 15px;
        text-align: left;
    }

     
     
    th {
            background: rgb(6, 154, 45); /* Changed th color */
            color: #F2E8CF;
            font-weight: bold;
            position: relative;
        }

    th:after {
        content: '';
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 5px;
        background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.1));
    }

    tbody tr:nth-child(odd) td {
        background-color: #386641;
        color: #F2E8CF;
    }

    tbody tr:nth-child(even) td {
        background-color: #6A994E;
        color: #F2E8CF;
    }

    tbody tr:hover td {
        background-color: #386641;
        color: #F2E8CF;
    }
</style>
<h1>History Table</h1>
<table>
    <thead>
        <tr>
            <th>Receiver</th>
            <th>Reward Name</th>
            <th>Reward Points</th>
        </tr>
    </thead>
    <tbody>
        <% history.forEach(entry => { %>
            <tr>
                <td><%= entry.receiver %></td>
                <td><%= entry.reward.name %></td>
                <td><%= entry.reward.point %></td>
            </tr>
        <% }); %>
    </tbody>
</table>
   