<h2>Login</h2>
<form action="/create-session" method="POST">
    <label for="email_username">Username:</label>
    <input type="text" id="email_username" name="email_username" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br><br>
    <button type="submit">Login</button>
</form>